* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    margin: 30px 135px;
}

/* header styles */



.nav-head {
    display: flex;
    justify-content: space-evenly;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 15px;
}

.nav-bar {
    justify-content: center;
    justify-content: space-between;
}


.nav-title {
    display: flex;
    justify-content: center;
    color: #131318;
    font-size: 36px;
    font-family: Mulish;
    font-weight: 800;

}

.Guardian {
    color: #131318;
    font-size: 36px;
    font-family: Mulish;
    font-weight: 800;
}

.travel {

    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.icon-img {
    margin-right: 10px;
}

.home {
    color: #FF5400;
    font-size: 18px;
    font-family: Mulish;
    font-weight: 700;
}

/* banner section  */
.banner {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.614), rgba(0, 0, 0, 0.651)), url('../Images/Group\ 13\ .png');
    border-radius: 16px";

}

.banner {
    border-radius: 16px;
    margin-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.h1-title {
    color: white;
    font-size: 64px;
    font-family: Mulish;
    font-weight: 800;
}

.dolor {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Mulish;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 64px;
    margin-top: 24px;
}

.div-btn{
    display: flex;
    background-color:  rgba(255, 255, 255, 0.30);
    padding: 10px;
    
}
.button {
    width: 18vh;
    height: 10vh;
    margin-left: 24px;
    background: white;
    border-radius: 10px;
    padding: 10px;

}
/* main section start here  */
.container{
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    
}
.read-more-btn{
    color: white;
   width: 100px;
   height:  50px;
    background-color: #FF5400;
    border-radius: 8px;
    border-style: none;
}
/* Choose Your Destination */
.tow-country{
    column-gap: 20px;
    display: flex;
    border-radius: 16px;
}
.the-country{
   
    background-image: url(../Images/Rectangle\ 5.png);
    
    /* display: flex; */
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.Choose-Your-Destination{
    align-items: center;
    justify-content: center;
    margin-bottom: 20PX;
   
}
.Maldives{
    margin-top: 30%;
   text-align:center;
   color: white;
}
.the-country-2{

    background-image: url(../Images/Rectangle\ 8.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
/* image-collage section  */
.Srilanka{
    background-image: url(../Images/Rectangle\ 5.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.kasmir{
    background-image: url(../Images/Rectangle\ 9.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.tow-country-2{
    column-gap: 20px;
    display: flex;
    border-radius: 16px;
    display: grid;
    /* grid-template-columns: 3fr; */
}
.the-country-are{

   background-image: url(../Images//Rectangle\ 6.png);
   width: 374px;
   height: 286px;
   background-repeat: no-repeat;
}
.north-america{
    background-image: url(../Images/Rectangle\ 7.png);
    width: 474px;
   height: 286px;
   background-repeat: no-repeat;
}
.Kashmir{
    background-image: url(../Images/Rectangle\ 9.png);
    width: 374px;
   height: 286px;
   background-repeat: no-repeat;
}
/* next section  */
.price{
    justify-content: center;
   border-radius: 5px solid acua ;
}


.why-choose-us{
    text-align: center;
    gap: ;
}

.the-servises{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.Deals{
    text-align: center;
    margin-bottom: 50px;
}
.simple{
    display: flex;
    text-align: justify;
}
.news{
    display: flex;
}
.input-container{
    justify-content: center;
}
.college{
display: flex;
}
.travel-and{
    display: flex;
}
.footer{
   justify-content: center;
}
